<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../images/trending.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../stylesheets/trends.css" />
    <link rel="stylesheet" href="../stylesheets/loader.css" />
    <link rel="stylesheet" href="../stylesheets/explore.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Trendings</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header flex">
            <img src="../images/trending.png" />
            <h1><a class="navbar-brand" href="/trends">Trendings</a></h1>
            <div class="dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                id="region"
                value="<%= geoLocation %>"
                ><%= regions[regions.findIndex((obj) => obj.name ==
                geoLocation)].value %> <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <% regions.forEach((region) => { %>
                <li>
                  <a href="/trends?geo=<%= region.name %>"
                    ><%= region.value %></a
                  >
                </li>
                <% }); %>
              </ul>
            </div>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input
                  id="explore"
                  type="text"
                  class="form-control"
                  placeholder="Keyword Explore"
                  style="font-size: 16px"
                />
              </div>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main><%- body %></main>
    <script type="text/javascript" src="../javascripts/explore.js"></script>
  </body>
</html>
